
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h3{
	font-family:'Arial';
	font-size: 14px;
	Letter-spacing: 1px;
    width: 100%;
    background: rgb(219, 110, 9);
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    
}

#container{
    background: rgba(255, 255, 255, 0.523);
	/*background-image: url(../imagenes/imagen_login.png) ;*/
	width: 100%;
	height: 100vh;
	display: -webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:-o-flex;
	display: flex;
	justify-content:center;
	align-items:center;

}

#container form {
	background: rgb(218, 125, 50);
	width: 500px;
	padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(213, 98, 31);
}

#container form input{
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    font-size: 16pt;
    display: block;
    border-radius: 5px;
    border: 1px solid #CCC;
    text-align: center;
}

#container form input[type="submit"]{
    background: rgb(49, 236, 12);
    padding: 20px;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}